PKR_DataStructures/PKR_ResortServiceTest/Connected Services/PKR_ResortServiceTest/pkr_resortservices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.contoso.com/PKR_ResortMS" elementFormDefault="qualified" targetNamespace="http://schemas.contoso.com/PKR_ResortMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://usnconeboxax1aos.cloud.onebox.dynamics.com/soap/services/pkr_resortservices?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="getResorts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResortsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q1:ArrayOfPKR_ResortTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeResortGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_contract" nillable="true" type="q2:PKR_ResortResortGroupChangeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeResortGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q3:PKR_ResortMessageContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>